<style>
/* GlobalFunction Needed Styles */

#headertext  {
        bcolor:  #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
	letter-spacing: 5px;
	font: 30px 'MisoRegular';
}

select {

    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border-style: dashed;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

input[type=date] {
    -webkit-appearance: none;
}

textarea {
resize: none;
}

/* CSSTerm.com CSS Horizontal menu with images */
h4 {color:yellow;}
.css_menu_two_line {
	width:100%;
	overflow:hidden;
}

.two_line_menu {
    position: relative;
    margin-bottom: 40px;
    background:#77f url('img_bg.gif') repeat-x;
}

.two_line_menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding:10px;
}

.two_line_menu li:hover a {
    color: #FFEBCD;
    background: #aaf;
}

.two_line_menu li { display: inline-block; }

.two_line_menu li ul { display: none; }

.two_line_menu li:hover ul {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    background: #aaf;
    top: 38px;
}

.two_line_menu li ul li:hover a { color: #000; }

/* SIDE MENU */

*      {
		margin: 0;
		padding: 0;
		font-family: 'Oswald', sans-serif;
	}
	
	body {
	    background: url(../images/colosseum.jpg) no-repeat center center fixed; 
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}
	
	.slideout-menu {
		position: fixed;
		top: 0;
		right: -250px;
		width: 250px;
		height: 100%;
		background:#A9A9A9;
		z-index: 100;
	}
	.slideout-menu h3 {
		position: relative;
		padding: 12px 10px;
		color: #fff;
		font-size: 1.2em;
		font-weight: 400;
	}
	.slideout-menu .slideout-menu-toggle {
		position: absolute;
		top: 12px;
		right: 10px;
		display: inline-block;
		padding: 6px 9px 5px;
		font-family: Arial, sans-serif;
		font-weight: bold;
		line-height: 1;
		background: #222;
		color: #999;
		text-decoration: none;
		vertical-align: top;
	}
	.slideout-menu .slideout-menu-toggle:hover {
		color: #fff;
	}
	.slideout-menu ul {
		list-style: none;
		font-weight: 300;
	
	}
	.slideout-menu ul li {
		
	}
	.slideout-menu ul li a {
		position: relative;
		display: block;
		padding: 10px;
		color: #DC143C;
		text-decoration: none;
	}
	.slideout-menu ul li a:hover {
		background: #000;
		color: #d8d8d8;
	}
	.slideout-menu ul li a i {
		position: absolute;
		top: 15px;
		right: 10px;
		opacity: .5;
	}

	
/* SIDE MENU ENDED */
</style>
